[core]
	excludesfile = ~/.gitignore_global

[color]
  ui = auto
[color "diff"]
  meta = 45 18 bold reverse
  frag = 190 17
  old = 203 53
  oldMoved = 203 53
  #oldMovedAlternative = 203 53
  #oldMovedAlternativeDimmed = 203 53
  new = 47 24
  newMoved = 47 24
  #newMovedAlternative = 47 24
  #newMovedAlternativeDimmed = 47 24
  context = 250
  commit = 246 024
  #func = 7 250
[diff]
  compactionHeuristic = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
