[core]
	excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global
  # quotepathをfalseに設定するとgit diffでのファイル名(全角)も正しく表示できる。
  quotepath = false
  editor = nvim

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[diff]
  tool = nvimdiff
  compactionHeuristic = true

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = "(set -x; nvim -d \"$LOCAL\" \"$REMOTE\")"

[color "diff-highlight"]
  oldNormal = 210 240
  newNormal = 051 031
  # 単語差分ハイライト部分
  oldHighlight = 124 211
  newHighlight = 021 159

[diff "color"]
  # git/diff.c
  # ```c
  # static const char *color_diff_slots[] = {
  # 	[DIFF_CONTEXT]		      = "context",
  # 	[DIFF_METAINFO]		      = "meta",
  # 	[DIFF_FRAGINFO]		      = "frag",
  # 	[DIFF_FILE_OLD]		      = "old",
  # 	[DIFF_FILE_NEW]		      = "new",
  # 	[DIFF_COMMIT]		      = "commit",
  # 	[DIFF_WHITESPACE]	      = "whitespace",
  # 	[DIFF_FUNCINFO]		      = "func",
  # 	[DIFF_FILE_OLD_MOVED]	      = "oldMoved",
  # 	[DIFF_FILE_OLD_MOVED_ALT]     = "oldMovedAlternative",
  # 	[DIFF_FILE_OLD_MOVED_DIM]     = "oldMovedDimmed",
  # 	[DIFF_FILE_OLD_MOVED_ALT_DIM] = "oldMovedAlternativeDimmed",
  # 	[DIFF_FILE_NEW_MOVED]	      = "newMoved",
  # 	[DIFF_FILE_NEW_MOVED_ALT]     = "newMovedAlternative",
  # 	[DIFF_FILE_NEW_MOVED_DIM]     = "newMovedDimmed",
  # 	[DIFF_FILE_NEW_MOVED_ALT_DIM] = "newMovedAlternativeDimmed",
  # 	[DIFF_CONTEXT_DIM]	      = "contextDimmed",
  # 	[DIFF_FILE_OLD_DIM]	      = "oldDimmed",
  # 	[DIFF_FILE_NEW_DIM]	      = "newDimmed",
  # 	[DIFF_CONTEXT_BOLD]	      = "contextBold",
  # 	[DIFF_FILE_OLD_BOLD]	      = "oldBold",
  # 	[DIFF_FILE_NEW_BOLD]	      = "newBold",
  # };
  # ```

  # 設定箇所対応表(git diff)
  # =============================================================================================
  #  % git diff
  # =============================================================================================
  # diff.color.meta     | diff --git a/.tigrc b/.tigrc
  # diff.color.meta     | index 443b82a..18cef12 100644
  # diff.color.meta     | --- a/.tigrc
  # diff.color.meta     | +++ b/.tigrc
  #                     | @@ -105,7 +105,7 @@ set main-view-date-format = "%Y-%m-%d %H:%M"
  #                     | ~~~~~~~~~~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #                     |  ^                   ^
  # diff.color.frag ----:--+                   |
  # diff.color.func ----:----------------------+
  # diff.color.context  |  set vertical-split = auto
  # diff.color.old      | -set split-view-width = 50%
  # diff.color.new      | +set split-view-width = 70%
  # diff.color.context  | # 水平方向の分割表示時の下のビューの高さ
  # diff.color.context  | set split-view-height = 60%

  # 設定箇所対応表(git log)
  # =============================================================================================
  #  % git log -1 --abbrev-commit --stat
  # =============================================================================================
  #                             | commit 52618e2 (HEAD -> dotfiles, origin/dotfiles, origin/HEAD)
  #                             |        ~~~~~~~  ~~~~    ~~~~~~~~  ~~~~~~~~~~~~~~~  ~~~~~~~~~~~
  #                             |        ^        ^       ^         ^                ^
  # diff.color.commit ----------:--------+        |       |         |                |
  # color.decorate.HEAD --------:-----------------+       |         |                |
  # color.decorate.branch-------:-------------------------+         |                |
  # color.decorate.remoteBranch :-----------------------------------+----------------+
  #                             |
  #                             | Author: ippsio <ippei.shioiri@gmail.com>
  #                             | Date:   Thu Mar 3 10:36:54 2022 +0900
  #                             |
  #                             |     update
  #                             |
  #                             |  bin/git_log_fzf | 24 +++++++++---------------
  #                             |  1 file changed, 9 insertions(+), 15 deletions(-)

  meta = 144 235
  frag = 144 235
  func = 049 235
  context = 247
  old = 210 240
  oldMoved = 210 240
  #oldMovedAlternative =       203 053
  #oldMovedAlternativeDimmed = 203 053
  new = 051 031
  newMoved = 051 031
  #newMovedAlternative =       047 024
  #newMovedAlternativeDimmed = 047 024
  commit = 223

[color "decorate"]
  HEAD = 14
  branch = "yellow"
  remoteBranch = red
  tag = "reverse bold yellow"
  stash = magenta

[pager]
  log =  ((type diff-highlight >/dev/null 2>&1) && (diff-highlight | less --quiet)) || less --quiet
  show = ((type diff-highlight >/dev/null 2>&1) && (diff-highlight | less --quiet)) || less --quiet
  diff = ((type diff-highlight >/dev/null 2>&1) && (diff-highlight | less --quiet)) || less --quiet

[pull]
  ff = only

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = 
	email = 
[commit]
	template = ~/.stCommitMsg
[merge]
  # ff = false
