[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global

[color]
  ui = auto

[color "diff"]
  #------------------------------------------------------------
  # `diff --git a/xxxx b/xxxx`
  # `index acbd5f297b..4a56929e4e 100644`
  # `a/xxxx`
  # `b/xxxx`
  # みたいな箇所(青地に濃い青文字)
  #----------------------------------------
  meta =                       018 045 bold

  #----------------------------------------------------------------------
  # `@@ -518,9 +518,7 @@` みたいな箇所(青地に黄色文字)
  #
  # その右隣のメソッド名やクラス名が表示されるところ(黄色地に濃い青文字)
  #----------------------------------------------------------------------
  frag =                       190 017

  #----------------------
  # diff old系(赤系)
  #----------------------
  old =                        210 052 # "#ff7766 #440000"
  oldMoved =                   210 052 #"#aaaa00 #666600"
  #oldMovedAlternative =       203 053
  #oldMovedAlternativeDimmed = 203 053

  #----------------------
  # new系(緑系)
  #----------------------
  new =                        123 023 # "#00ff33 #004433"
  newMoved =                   123 023
  #newMovedAlternative =       047 024
  #newMovedAlternativeDimmed = 047 024

  #--------------------------
  # 変更なし部分の文字色
  #--------------------------
  context =                    253

  #----------------------------------
  # git log時のcommit hashの色(緑系)
  #----------------------------------
  commit =                     123 023 # "#00ff33 #004433"
  func =                       017 190 bold # tig の diff-statに相当

[color "diff-highlight"]
  #----------------------
  # diff old系(赤系)
  #----------------------
  oldNormal =                  210 052 # "#ff7766 #440000"
  oldHighlight =               211 124 # 単語差分ハイライト部分

  #----------------------
  # new系(緑系)
  #----------------------
  newNormal =                  123 023 # "#00ff33 #004433"
  newHighlight =               118 028 # 単語差分ハイライト部分

[diff]
  compactionHeuristic = true

[pager]
  # diff-highlight が PATHに追加されてないと、diff-highlightは使えないよ。
  log =  (type diff-highlight >/dev/null 2>&1) && (diff-highlight | less) || less
  show = (type diff-highlight >/dev/null 2>&1) && (diff-highlight | less) || less
  diff = (type diff-highlight >/dev/null 2>&1) && (diff-highlight | less) || less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
